BasedOnStyle: Google
Language: Cpp
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatements
AlignAfterOpenBracket: DontAlign
AlwaysBreakTemplateDeclarations: true